.events-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.event-navlink {
  text-decoration: none;
  font-size: 12pt;
}
