.event-list-item {
  display: flex;
  flex-direction: row;
  padding: 20px 0 0 10px;
  margin: 20px;
  width: 720px;
  border-top: 2px solid gray;
}

.event-entry {
  display: flex;
  flex-direction: column;
}

.event-preview-image {
  max-width: 140px;
  padding-right: 60px;
}

.event-name {
  font-size: 18pt;
  font-weight: bold;
  color: black;
  padding-bottom: 4px;
}

.event-loc {
  color: gray;
  font-weight: bold;
  padding-bottom: 8px;
}

.event-desc {
  color: black;
  padding-bottom: 8px;
}

.event-date {
  color: teal;
}
