#return-to-groups {
  font-size: 12pt;
  color: #00525E;
  pointer-events: all;
}

.group-details-top-container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 12%;
}

.group-picture {
  flex-basis: 60%;
  max-width: 800px;
  justify-self: left;
}

.group-info-top {
  display: flex;
  flex-direction: row;
}

.group-info-text {
  flex-basis: 40%;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
}

.group-info-mid {
  display: flex;
  flex-direction: column;
  background-color: #CCCCCC;
}

.mid-info-content {
  margin: 0 12%;
}

.join-group-btn {
  justify-self: flex-end;

}

#details-organizer-label, #details-label, .upcoming-label, .past-label {
  font-size: 24pt;
  font-weight: bold;
}

#details-organizer {
  font-size: 18pt;
  color: #666666;
}

#details {
  font-size: 14pt;
}

.group-details-event-info {
  background-color: white;
  margin: 8px;
  width: 60%;
  padding: 12px;
}

.event-date {
  color: #00525E;
}

.event-preview-details {
  display: flex;
  flex-direction: column;
}

.event-details-top {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.event-details-bottom {
  padding-top: 12px;
}
