#update-group-form-container {
  margin: 0 12%;
}

#update-group-title {
  color: #00525E;
  font-size: 16pt;
}

.update-group-heading, .update-group-heading-top {
  font-size: 20pt;
}

.update-group-heading {
  border-top: 2px solid #999999;
}

select {
  background-color: #e8f0fe;
}

#update-group-btn {
  color: white;
  background-color: #FF5A5F;
  margin-top: 8px;
  font-size: 14pt;
}
